streamlit
ultralytics
opencv-python
scipy
transformers
pydub
scipy
audioread
requests
tqdm
tensorflow
tf-keras
streamlit_option_menu
aiohttp
streamlit-elements==0.1.*
python-docx
python-pptx
PyMuPDF
openpyxl
pyrebase4